[submodule "BotanicalGarden/commonItems"]
	path = BotanicalGarden/commonItems
	url = https://github.com/ParadoxGameConverters/commonItems.git
[submodule "Vic2Mod/TheEmpireStrikesBack"]
	path = Vic2Mod/TheEmpireStrikesBack
	url = git@github.com:Idhrendur/The-Roman-Empire-Strikes-Back-Vic2-.git
